name: Tests

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: npm ci

      - name: HTML validation
        run: npm run test:html

      - name: Link check
        run: npm run test:links

      - name: Accessibility check
        run: npm run test:a11y
